---
import "./home.css";
---

<div class="slider">
  <div class="slide current">
    <img
      src="https://luismanzanero.com/static/304b33f4d596c59c07458e50374185bc/aed41/e0e2fb1760aca2deadde1258a3ac6ec3.jpg"
    />
    <div class="content">
      <h1>Hi <br /> I'm Luis Manzanero</h1>
      <p class="slider-text">Scientist . Software Developer . Adventurer</p>
    </div>
  </div>
</div>
