---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NavBar/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="About"
      description="Hello! I am Luis Manzanero - An ethusiastic and experienced full stack web and mobile developer."
      image={"/luis-profile.webp"}
    />

    <style>
      .about-intro {
        color: var(--text-primary);
        font-size: 1em;
        text-align: left;
        height: auto;
      }

      p {
        margin: 1em 3em;
      }

      .about-cta {
        position: relative;
        color: var(--text-primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 3em;
      }

      .about-img {
        height: 200px;
        width: 300px;
        margin: auto;
      }

      .about-img img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 0.5em;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1 class="title">About</h1>
      <h4 class="sub-title">A little about me!</h4>
      <section class="about-intro">
        <p>
          Hi there! I'm Luis Manzanero, an enthusiastic and experienced
          full-stack web and mobile developer hailing from the breathtaking
          landscapes of Belize, the world's most beautiful country. My
          upbringing in the lush jungles of Belize has instilled a deep
          appreciation for the environment, which I combine with my passion for
          technology to create meaningful solutions for a sustainable world.
        </p>
        <p>
          I have a relentless desire to expand my knowledge and apply it to
          projects that not only bring me joy but also contribute to the
          betterment of our planet. In recent times, I've been actively engaged
          in a variety of <a href="/projects">projects</a> spanning blockchain, web,
          and mobile development. This journey has opened up numerous <a
            href="/resume">opportunities</a
          >, fostering a holistic approach that combines environmental
          conservation with technological innovation.
        </p>
        <p>
          Beyond coding, I'm also an avid writer, and you can explore my
          thoughts on various topics in my <a href="/blog">blog</a>. I believe
          in the power of words to inspire change and share insights on the
          latest industry trends and innovations.
        </p>
      </section>
      <section class="about-cta">
        <div class="about-img">
          <img src="/luis-guitar.jpg" />
        </div>
        <h3>I'd love to explore ways we can collaborate on a project!</h3>
        <a href="mailto:manzanero.luis1995@gmail.com"
          ><button> Contact me</button>
        </a>
      </section>
    </main>
  </body>
</html>
