---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NavBar/Header.astro";
import Footer from "../components/Footer.astro";
import BlogCard from "../components/BlogCard/BlogCard.astro";
import { getCollection } from "astro:content";

const blogEntires = await getCollection("blog");
const sortedPost = blogEntires.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Blog"
      description="I also enjoy writing about the environment, life experiences, and music!"
    />
  </head>
  <body>
    <Header />
    <main>
      <div class="blog-posts">
        {
          sortedPost.map((post) => (
            <BlogCard
              title={post.data.title}
              date={new Date(post.data.date).toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
              excerpt={post.data.description}
              tags="story"
              imageUrl={post.data.image}
              url={`blog/${post.slug}`}
            />
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
