---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NavBar/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Home from "../components/Home/Home.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <Home />
    </main>
  </body>
</html>
