---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NavBar/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Project from "../components/ProjectCard/Project.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      /* Projects Page */
      .page-categories {
        position: sticky;
        background-color: var(--dark-color-a);
        top: 0;
        padding: 1em;
        z-index: 1;
        text-align: center;
      }

      .page-categories ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        overflow: scroll;
        list-style-type: none;
      }

      .page-categories ul li {
        margin: 5px auto;
        font-size: 0.9rem;
        padding: 0.7em 0.5em;
        color: var(--text-secondary);
        background-color: var(--dark-color-b);
        border-radius: 3px;
        cursor: pointer;
      }

      .page-categories ul li span {
        color: var(--text-secondary);
      }

      .page-categories ul li span:hover {
        color: palegreen;
        transition: all 0.5s;
      }

      .page-categories ul li .active {
        color: palegreen;
        border-radius: 0.3em;
        font-weight: 700;
        padding: 0.2em;
        transition: all 0.5s;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <h1 class="title">Projects!</h1>
      <p class="sub-title">
        Here is a collection of many projects that I have worked on,
        contributed, or built for fun!
      </p>
      <div class="page-categories">
        <ul>
          <li>
            <span class="option active">All</span>
          </li>
          <li><span class="option">JavaScript</span></li>
          <li><span class="option">React</span></li>
          <li><span class="option">Vue</span></li>
          <li><span class="option">Svelte</span></li>
          <li><span class="option">Node.js</span></li>
          <li><span class="option">Flutter/Dart</span></li>
          <li><span class="option">Kotlin</span></li>
        </ul>
      </div>
      <div class="project-items">
        <Project
          name="ESL Real Time Games"
          tags="#JavaScript #Svelte"
          image_url="https://esl-games.vercel.app/esl-social.jpg"
          project_link="https://esl-games.vercel.app/"
        />
        <Project
          name="Gift Cards Belize"
          tags="#React"
          image_url="/projects/gift-cards-bz.png"
          project_link="https://giftcards.bz/"
        />
        <Project
          name="EcoCrypt.org"
          tags="#React #Node.js #JavaScript"
          image_url="/projects/ecocrypt.org.png"
          project_link="https://ecocrypt.org/"
        />
        <Project
          name="Belize Coronavirus Tracker"
          tags="#JavaScript"
          image_url="/projects/belize-covid.png"
          project_link="https://lmanzanero.github.io/belize-coronavirus-tracker/"
        />
        <Project
          name="BettaPay"
          tags="#Vue"
          image_url="/projects/bettapay.png"
          project_link="https://bettapay.app/"
        />
        <Project
          name="BettaPay Mobile"
          tags="#Flutter/Dart"
          image_url="/projects/bettapay-mobile.png"
          project_link="https://bettapay.app/"
        />
        <Project
          name="EcoCrypt.org Mobile"
          tags="#Flutter/Dart"
          image_url="/projects/ecocrypt-mobile.png"
          project_link="https://ecocrypt.org/"
        />
        <Project
          name="Belizing Payments - Android"
          tags="#Kotlin"
          image_url="/projects/belize-pay.png"
          project_link="https://payments.belizing.com/"
        />
        <Project
          name="React Firestore Shopping Cart"
          tags="#React #CloudFunctions #firestore"
          image_url="https://res.cloudinary.com/daeq8bixw/image/upload/v1623945259/Screenshot_2021_06_17_at_23_54_09_4b9ce0c97b.png"
          project_link="https://lmanzanero.github.io/firebase-react-store/"
        />
        <Project
          name="JavaScript Realtime Quiz"
          tags="#JavaScript #Node.js #Socket.io"
          image_url="https://res.cloudinary.com/daeq8bixw/image/upload/v1622399771/Screenshot_2021_05_28_at_01_11_53_d46b1e8513.png"
          project_link="http://real-time-games-staging.herokuapp.com/real-time-quiz"
        />
        <Project
          name="JavaScript Calculator"
          tags="#JavaScript"
          image_url="/projects/js-calculator.png"
          project_link="https://lmanzanero.github.io/functional-js-calculator/"
        />
        <Project
          name="JavaScript Weather App"
          tags="#JavaScript"
          image_url="https://res.cloudinary.com/daeq8bixw/image/upload/v1616780011/Screenshot_2021_03_27_at_01_33_24_005ba354d7.png"
          project_link="https://lmanzanero.github.io/weather-app/"
        />
        <Project
          name="JavaScript Youtube Player"
          tags="#JavaScript"
          image_url="https://res.cloudinary.com/daeq8bixw/image/upload/v1616780325/Screenshot_2021_03_27_at_01_38_35_371e9928b4.png"
          project_link="https://lmanzanero.github.io/video-carousel-slider/"
        />
      </div>
    </main>
    <Footer />
    <script>
      let tag = "All";
      const projectItems = document.querySelectorAll(".project-item .category");
      const options = document.querySelectorAll(".option");

      function onClickItem(e: Event) {
        tag = (e.target as HTMLElement).innerHTML;
        if (tag != "All") {
          projectItems.forEach((item, index) => {
            //ensure all items are populated again before filtering
            (
              document.querySelectorAll(".project-item")[index] as HTMLElement
            ).style.display = "block";
            //filter times if category is included in innerHTML string
            if (!item.innerHTML.toLowerCase().includes(tag.toLowerCase())) {
              (
                document.querySelectorAll(".project-item")[index] as HTMLElement
              ).style.display = "none";
            }
          });
        } else {
          //ensures to populate page if all is selected
          document
            .querySelectorAll(".project-item")
            .forEach((item) => ((item as HTMLElement).style.display = "block"));
        }
        options.forEach((option) => {
          option.classList.remove("active");
        });
        (e.target as HTMLElement).classList.add("active");
      }

      //adding click event to all project tags
      document.querySelectorAll(".option").forEach((item) => {
        item.addEventListener("click", onClickItem);
      });
    </script>
  </body>
</html>
