---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/NavBar/Header.astro";
import ResumeItem from "../components/Resume/ResumeItem.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main>
      <h1 class="title">Resume</h1>
      <h4 class="sub-title">A timeline of where I have worked.</h4>
      <ul class="timeline">
        <ResumeItem
          company="Nebula Core Technologies"
          companyDomain="Nebulacore.tech"
          startYear="2020"
          isLeft={false}
          role="Full stack developer & Mobile Developer!"
          techStack={["#test", "#story"]}
          details="I'm part of a team of international entrepreneurs and engineers building the technologies of tomorrow."
          siteLink="sdfsdfsdf"
        />
        <ResumeItem
          company="Gift Cards Belize"
          companyDomain="GiftCards.bz"
          startYear="2020"
          isLeft={true}
          role="Front-end Web developer"
          techStack={["#Javascript/TypeScript", "#Vue.js"]}
          details="Gift Cards Belize is an ecommerce website that allows Belizeans to purchase gift cards easily, at any time of the day without a credit card. At Gift Cards Belize, I built the front end portion of the website from mocks ups using various web technologies, and currently building features to integrate with other payments methods."
          siteLink="sdfsdfsdf"
        />
      </ul>
    </main>
  </body>
</html>
