/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  border: 3px solid var(--bg-primary);
  border-radius: 00.4em;
  margin: auto;
  padding: 20px; 
  width: 60%;
  overflow: scroll;
}

/* The Close Button */
.close {
  position: absolute;
  color: #aaaaaa; 
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;transition: all 0.5s;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;transition: all 0.5s;
}


/* Small screens */
@media only screen and (max-width: 600px) { 
  .modal { 
    z-index: 1;
    padding-top: 80px;
  } 
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 0.2em; 
    width: 90%;
    height: 75vh;
  }
}