---
import "./project-card.css";

export interface Props {
  name: string;
  image_url: string;
  tags: string;
  project_link: string;
}

const { name, image_url, tags, project_link } = Astro.props;
---

<div class="project-item">
  <img alt="" src={image_url} />
  <div class="project-inner">
    <div class="project-title">{name}</div>
    <div class="category">{tags}</div>
    <div class="links">
      <a href={project_link} target="_blank" rel="noreferrer">Demo</a>
    </div>
  </div>
</div>
